/* Fonts
 * Attribution: http://www.dafont.com/pokemon.font
 */

@font-face {
	font-family: 'Pokemon Solid';
	src: url('fonts/Pokemon Solid.eot'); /* IE9 Compat Modes */
  /* The local(☺︎) is a css hack to divert IE6-8 from downloading fonts it can't use (it can only use fonts in EOT format). */
	src: local('☺'), url('fonts/Pokemon Solid.woff') format('woff'), /* Modern Browsers */
       url('fonts/Pokemon Solid.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/Pokemon Solid.svg') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

/* Styles
 *
 */

body {
  text-align: center;
  background-color: #333333;
  font-family: 'Pokemon Solid';
  color: #ffcb05;
  text-shadow: -2px 0 #3169b1, 0 2px #3169b1, 2px 0 #3169b1, 0 -1px #3169b1;
}

/*
 * Header
 */
header {
  position: relative;
  top: 15px;
  width: 707px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#musicButton {
  /* If there is another block element in musicButton's parent div, such as h1, then for musicButton to be in the same line as title, you need to set them both to display: inline. However after modification you replace h1 with img tag, therefore no need to put display: inline here.*/
  /*display: inline;*/
  float: right;
  color: grey;
  text-shadow: none;
  position: absolute;
  right: 0;
  top: 20%;
}

#musicButton.music {
  color: #ffcb05;
  text-shadow: -2px 0 #3169b1, 0 2px #3169b1, 2px 0 #3169b1, 0 -1px #3169b1;
}

a:hover {
  cursor: pointer;
}

/*
 * Canvas
 */
canvas {
 height: 707px;
 width: 707px;
}

/*
 * Menu, lose, win page
 */
.onTop {
  position: absolute;
  width: 100%;
  margin: 25px auto;
  z-index: 1;
}

.hidden {
  display: none;
}

#menu {
  top: 220px;
}

#lose {
  top: 240px;
}

#win {
  top: 200px;
}

/* the play & playAgain button */
#play, #playAgain, #winAgain {
  font-family: 'Pokemon Solid';
  font-size: 24px;
  padding: 15px 24px;
  line-height: 1.33333;
  border-radius: 6px;
  color: #ffcb05;
  text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
  box-shadow: inset 0 2px 0 rgba(255,255,255,.15), 0 2px 2px rgba(0,0,0,.075);

  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

/*
 * Number of Pokeballs
 */
.pokeballBar {
  margin-bottom: 30px;
  font-size: 1.4em;
}

#child {
  display: inline;
}

/*
 * Footer
 */
footer {
  position: relative;
  bottom: 0px;
  width: 90%;
  left: 0;
  right: 0;
  margin: 20px auto 0 auto;
}

#developerInfo {
  font-weight: 100;
  color: #ffcb05;
}

#developer, #githubIcon {
  display: inline;
}

/*
 * When it's on phones. No need to put in a ipad mode, since ipad has width of 768, bigger than 707.
 */
@media only screen and (max-width: 709px) {
  /*
   * Header with in iphone must be 90% of view port
   */
  header {
    width: 90%;
  }

  canvas {
    height: 345px;
    width: 345px;
    margin-top: 10px;
  }

  #musicButton {
    font-size: 0.5em;
  }

  #menu, #lose, #win {
    top: 140px;
    font-size: 0.5em;
    font-family: sans-serif;
    text-shadow: -1px 0 #3169b1, 0 1px #3169b1, 1px 0 #3169b1, 0 -1px #3169b1;
  }

  #lose, #win {
    top: 160px;
  }

  .pikachuImage {
    max-width: 50%;
  }

  /* the play & playAgain button */
  #play, #playAgain, #winAgain {
    font-family: 'Pokemon Solid';
    font-size: 0.8em;
    padding: 8px 14px;
    line-height: 1.33333;
    border-radius: 6px;
    color: #ffcb05;
    text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
    box-shadow: inset 0 2px 0 rgba(255,255,255,.15), 0 2px 2px rgba(0,0,0,.075);

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }

  /*
   * Number of Pokeballs
   */
  .pokeballBar {
    margin-bottom: 20px;
    padding-top: 0;
    font-size: 0.5em;
  }

  #developerInfo {
    font-size: 0.65em;
  }
}
